<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">
                <h1>Testatoo</h1>
                <ul class="list-unstyled">
                    <li><a href="learn.html">Learn</a></li>
                    <li><a href="download.html">Download</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h1>About</h1>
                <ul class="list-unstyled">
                    <li><a href="https://github.com/Ovea/testatoo">Source code</a></li>
                    <li><a href="https://drone.io/github.com/Ovea/testatoo">Build status</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h1>Socialize</h1>
                <ul class="list-unstyled">
                    <li><a href="https://groups.google.com/forum/#!forum/testatoo-ui">Discuss on the
                        mailing-list</a></li>
                    <li><a href="https://twitter.com/hashtag/testatoo">Testatoo on Twitter</a></li>
                    <li><a href="https://github.com/Ovea/testatoo">Source code on GitHub</a></li>
                    <li><a href="https://github.com/Ovea/testatoo/issues">Report issues</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="col-md-3">
        <a href="http://www.ovea.com">
            <img src="img/ovea-logo.png">
        </a>
    </div>

</div>

<hr/>

<div class="clearfix">© 2010-2014 the Testatoo project — Testatoo is Open Source,
    <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2 License</a>
</div>