<div class="navbar navbar-default navbar-static-top container-fluid" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only"></span><span class="icon-bar"></span><span class="icon-bar"></span><span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="img/icon.svg"></i> Testatoo
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul id="menu" class="nav navbar-nav navbar-right">
                <li role="home"><a href="/">Home</a></li>
                <li role="learn"><a href="learn.html">Learn</a></li>
                <li role="documentation"><a href="documentation.html">Documentation</a></li>
                <li role="download"><a href="download.html">Download</a></li>
            </ul>
        </div>
    </div>
</div>
